html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.3em;
}

th{
    background-color: gray;
}

nav ul {
    list-style: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 0.5cm; 
}

.addmanga a:link{
  height: 100%;
  transition-duration: 0.4s;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
}

nav ul li {
    display: inline;
}

nav a:link, nav a:visited {
    text-decoration: none;
}

nav a {
    padding: 8px;
}

nav a:hover {
    background-color: gray;
}

.text-center {
    text-align: center;
    
}

.copyright{
    position: fixed; 
    bottom: 0;
    width:100%; 
    text-align: center;
}

.view{
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    width: 300px;
    height: 300px; 
    text-decoration: none;
    color: black;
    background-color: #aaa;
    opacity: 1;
    padding: 15px 40px;
    border-radius: 14px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    
  }

  .button2 {
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
  }
  
  .button2:hover {
    background-color: #256427; 
    color: white;
    text-decoration: none;
  }

  .button3 {
    height: 100%;
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
  }
  
  .button3:hover {
    height: 100%;
    background-color: #256427; 
    color: white;
    text-decoration: none;
  }

  .glow-button:hover {
    margin-top: 20px;
    box-shadow: 0 8px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #000000af;
  }

  .bg {
    background-image: url("https://cdn.wallpapersafari.com/97/50/eRwDMy.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   }

   
   .bo {
    color: white;
    text-align: left ; 
  }
   
   
  .alias {
       cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
       text-decoration: none;
       
       
    
    }

    

          
        
/* //menu// */
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    
  }
  
  /*////////////////////////////*/
  .active {
    cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
  }

  .active3 {
    background-color: #4CAF50;
    cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
  }

  .active2 {
    width: 100px;
    height: 50px;
    background-color: #b4b4b4;
    color: rgb(255, 255, 255);
    border:1px;
    border-radius: 2px;
    
    
  }


  .table {
    table-layout: fixed;
    width: 60%;  
    border:1px;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 300px;
    
    
    
    
    
}

  .table0 {
    width:100%;
    border:1px;
    border-collapse: collapse;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
    margin-top: 0px;
    
    
    
    
}

.tablec{
  border-collapse: collapse;
  text-align:left;
  border: 1px solid black;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;

  
}
.tablec2{
  border-collapse: collapse;
  text-align:left;
  border: 1px solid black;
  padding-left: 10px;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.226);
  color: white;

  
}
.tablec2 td{
  
  padding-left: 10px;
  

  
}

.tableco{
  border-collapse: collapse;
  background-color: rgb(121, 121, 121);
}

/*sub menu 2*/

.tableb-sub {
  width:50%;
  text-align: center; 
}
/* //////////// */ 


.tableb {
    width:80%;
    text-align: center;
     
    
}


.tabledes {
    width:50%;  
    text-align:left; 
    color: white;
    margin-top: 5px;
    
}

.table-login {

    table-layout: fixed;
    width: 40%;  
    border:1px;
    border-collapse: collapse;
    border-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 300px;
  
}

.table-login [type=text], input[type=password] {
  width: 100%;
  padding: 10px 1px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.table-search {

  width: 100%;
  padding: 10px 1px;
  border-radius: 3px;
  box-sizing: border-box;
    
  
}

button:hover {
  opacity: 0.8;
}
/*show-status///////////////////////*/
.status{
    text-align: center;
    margin: 20px auto 20px auto;
   
   }

  .status span{
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
   }

   .status-error{
    text-align: center;
    border-collapse: collapse;
    background-color: red;
    margin: 20px auto 20px auto;
    color: white;
   
   }

  .status-error span{
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
   }

/*create ////////////////////////////////*/
   .table-create 
   {
    width:40%;
    text-align: left;
    background-color: #555555;
    color: white;
   }

   .input 
   {
    width:80%;
    height: 10px;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  
   }

  .submit
   {
    width:40%;
    height: 25px;
    padding: 20px;
    margin: 5px;
    color:rgb(255, 255, 255);
    background-color:#4CAF50;
    border-radius: 4px;
    text-align:center;
   }

   .submit2
   {
    width:10%;
    padding: 10px ;
    color:rgb(255, 255, 255);
    background-color:#4CAF50;
    border-radius: 4px;
    text-align:center;
    margin-bottom: 50px;
    text-decoration: none;
    cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
    
   }

   .submit2:hover {
    height: 100%;
    background-color: #256427; 
    color: white;
    text-decoration: none;
  }

  .submit3
   {
    width:10%;
    height: 700px;
    padding: 10px ;
    color:rgb(255, 255, 255);
    background-color:#000000c5;
    border-radius: 4px;
    text-align:center;
    margin-bottom: 50px;
    text-decoration: none;
    cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
    
   }

   .submit3:hover {
    height: 100%;
    background-color: #000000; 
    color: white;
    text-decoration: none;
  }

  /*////////////////////////////////*/
  .next
  {
    background-color: #000000;
    cursor:url(https://2.bp.blogspot.com/-75RQYsSC3Nk/WDl7ImSBS0I/AAAAAAAAAB4/9DbYhWX_dlE1BwRuN3VX4aPNFCxel98FwCLcB/s1600/rubycursor.png), progress;
  }






  

   